<div class="row">
	<div class="col-md-6 col-12">
		<h1>Projet Plage</h1>
		<p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus eligendi dolorum ut accusantium tenetur inventore, fugit ducimus repudiandae illum quae quo dicta laboriosam? Debitis impedit accusantium ipsa ratione error!</p>
		<div class="my-5">
			<a href="#" class="cta">
				<span>Réserver un parasol</span>
				<svg width="13px" height="10px" viewBox="0 0 13 10">
				  <path d="M1,5 L11,5"></path>
				  <polyline points="8 1 12 5 8 9"></polyline>
				</svg>
			  </a>
		</div>
	</div>
	<div class="col-md-6 col-12 banner-img-right">
		<img src="../../assets/images/accueil-1.png" class="img-fluid">
	</div>
</div>